
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(45deg, rgb(255, 47, 186), dodgerblue);  
  font-family:'Courier New', cursive;
}
.container-center {
  position: relative;
  background: #fff;
  border-radius: 10px;
}
 h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: rgb(36, 35, 35);
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}

h2{
  font-size: 2em;
    padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}


 .formfield {
  
  width: 250px;
  position: relative;
  text-decoration: none !important;
  height: 40px;
  margin-bottom: 9px;

}
 .formfield input {
  width: 100%;
  padding: 9px;
  border-radius: 10px;
  border: 2px solid #000; 
  
}
 .formfield:last-child {
  margin-bottom: 4px;
}


 .formfield button {

  border: rgb(246, 235, 235);
  cursor: pointer;  
  color: #fff;
  background: rgb(53, 151, 250);
  text-decoration: none !important;
  width: 55%;
  color: black;
}
 .formfield:hover button {
  background:  linear-gradient(45deg, rgb(255, 47, 186), #3e9cf9);
  color: black;
  text-decoration: none !important;
}
